<!--headers
Chapter
    Page in Chapter

Navigation
Back button
Forward button
Link to ToC
-->
<h1>{{ch}}</h1>
<h2>{{pg}}</h2>

<!-- Page Content here -->
{{#if text}}
    {{#each text}}
        <p>{{this.item}}</p>
            {{#if this.url}}
<a href="{{this.url}}">Click here to visit the link.</a>
            {{/if}}
    {{/each}}
{{/if}}


<form method="post">
    <button type="submit" name="next">Next</button>
</form>
<form method="post" action="/BeforeWeBegin">
    <button type="submit" name="previous">Previous</button>
</form>
<!-- Figure out how to format this so Back is on the right
ToC in the middle and
Next on the Right 
<button id="btnBack">Back</button>
<!--<a href="toc.handlebars">Table of Contents</a>-->
<!--<button id="btnNext">Next</button>-->