<span id="pg1">
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>Your Favorite Artist: Lady Gaga</th>
                <th rowspan="5"><img src="practiceImage.jpg" alt="Image of artist"></th>
            </tr>
            <tr><td>Hotttnesss: </td></tr>
            <tr><td>Popularity: </td></tr>
            <tr><td>Homepage: </td></tr>
            <tr><td>Biography: </td></tr>
        </tbody>
    </table>
</span>