<h1>Intro</h1>
<h2>Page {{pg}}</h2>
<br>
<span>Welcome to an informal Echo Nest API tutorial!  Before we begin, let me show you some of what Echo Nest can do.  
    <form action="/intro2" >Tell me the name of one of your favorite musical artists: 
        <input type="textbox" name="favArtist" id="favArtist" size="30">
        <input type="submit">
        </form>
</span>