<!DOCTYPE html>
<html>
    <head>
        <title>Title of Webpage</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
