<h1>{{type}} Request Received</h1>
<p>The data you sent me is this: </p>
<ul>
    {{#each dataList}}
    <li>{{this.key}}: {{this.value}}</li>
    {{else}}
    <li>I didn't get any data!  Check the request format.</li>
    {{/each}}
</ul>