<h1>The Home Page</h1>
<p>We're going to play with GET & POST forms and dynamic content.</p>
<!--TODO: update URL so it's not hard-coded -->
<form action="http://localhost:3000/get-results" method="get">
<fieldset>
    <label>Favorite Candy:</label><br>
    <input type="radio" name="candy" id="candy" value="Snickers">Snickers<br>
    <input type="radio" name="candy" id="candy" value="Mr. Goodbar">Mr. Goodbar<br>
    <input type="radio" name="candy" id="candy" value="Skittles">Skittles<br>
    <label>Favorite Dish:</label>
    <input type="text" name="dish" id="dish" size="30"><br>
    <input type="submit" id="submit">
</fieldset>
</form>
<br>
<form action="http://localhost:3000/get-results" method="post">
<fieldset>
    <label>Favorite Candy:</label><br>
    <input type="radio" name="candy" id="candy" value="Snickers">Snickers<br>
    <input type="radio" name="candy" id="candy" value="Mr. Goodbar">Mr. Goodbar<br>
    <input type="radio" name="candy" id="candy" value="Skittles">Skittles<br>
    <label>Favorite Dish:</label>
    <input type="text" name="dish" id="dish" size="30"><br>
    <input type="submit" id="submit">
</fieldset>
</form>