<span id="pg0">Welcome to an informal Echo Nest API tutorial!  Before we begin, let me show you some of what Echo Nest can do.
    <fieldset>
    <form method="post">Tell me the name of one of your favorite musical artists: 
        <input type="textbox" name="favArtist" id="favArtist" size="30">
        <input type="submit" name="gotFavArtist">
        </form>
    </fieldset>
</span>