<h1>Edit</h1>
<fieldset>Edit Your Exercise
<form id="entryForm" method="get">
	    <br />
		<label>Exercise<input type="text" name="exercise"></label>
	    <br />
		<label>Reps<input type="number" name="reps"></label>
	    <br />
		<label>Weight<input type="number" name="weight"></label>
	    <br />
		<label>date<input type="date" name="date"></label>
	    <br />
	    <label>Units</label>
	    <label><input type="radio" name="units" value="true" />Lbs</label>
	    <label><input type="radio" name="units" value="false" />Kgs</label>
	    <br />
	    <br />
	  	<label><input type="submit" name="submit"/></label>
	</form>
</fieldset>