<fieldset>
	<form id="entryForm" action ="/C:/Users/chavis/Desktop/Chavis/School/CS%20290/Week%209/HW/views/home.html" method="post">
		
	    <br />
		<label>Excersice<input type="text" name="text_input" size="45" maxlength="100"></label>
	    <br />
		<label>Number of reps<input type="text" name="text_input" size="45" maxlength="100"></label>
	    <br />
		<label>weight<input type="text" name="text_input" size="45" maxlength="100"></label>
	    <br />
		<label>date<input type="text" name="text_input" size="45" maxlength="100"></label>
	    <br />
	    <label>Units</label>
	    <label><input type="radio" name="units" value="true" />Lbs</label>
	    <label><input type="radio" name="units" value="false" />Kgs</label>
	    <br />
	    <br />
	  	<label><input type="submit" name="submit"/></label>
	</form>
</fieldset>
<h1 id="resuts">
	<!--Here the database will be parsed into rows-->

<!--<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>-->
</h1>